extends ../layout.jade
block contenido
	h2(class="pacifico big blue") Menú
	each producto in productos
		div(class="col-md-4 col-sm-6 col-xs-12 inline-block")
			h3(class="pacifico")= producto.title
			p(style="margin-top:1em;") #[small(class="lato small") #{producto.precio}$]
