extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Agregar producto
		form(method="post" action="/menu" enctype="multipart/form-data" style="margin-top:1.5em;")
			div(class="form-group")
				label Nombre
				input(type="text" name="title" placeholder="nombre" class="form-control")
			div(class="form-group")
				label Descripci칩n
				textarea( name="descripcion" placeholder="Descripci칩n del producto" class="form-control")
			div(class="form-group")
				label Precio
				input(type="number" name="precio" placeholder="Precio de producto" class="form-control")
			div(class="form-group")
				label Imagen del producto
				input(type="file" name="imagenUrl")
			div(class="form-group")
				label Contrase침a
				input(type="password" name="password" placeholder="Necesitas ingresar tu contrase침a" class="form-control")
			div(class="form-group text-right") 
				input(type="submit" class="btn btn-info" value="Guardar")